.footer-title {
    font-weight: var(--fw-7);
    margin-bottom: var(--m-10);
    color: var(--text-footer-color);
}

.footer-item {
    margin: var(--m-4) 0;
    color: var(--text-footer-color);
}

.footer-social {
    width: 39px;
    height: 39px;
    border: 0;
    margin: 0 var(--p-2);
    transition: all 0.2s;
    background-image: url('./images/footer/bg-social-footer-40.png');
    background-position: -192px -3px;

    &.facebook {
        background-position: -9px -3px;
    }

    &.instagram {
        background-position: -98px -3px;;
    }

    &.youtube {
        background-position: -54px -3px;
    }

    &:hover {
        transform: scale(0.9);
    }
}
