.hot-label {
    display: block;
    width: 50px;
    height: 65px;
    background-image: url('images/now-showing/ribbon-film-final.png');
    position: absolute;
    top: -24px;
    right: -32px;

    &.label-2 {
        background-position: 94px 0;
    }

    &.label-3 {
        right: -26px;
        background-position: 49px 0;
    }
}

.like-btn {
    display: flex;
    align-items: center;
    height: 20px;
    font-size: 11px;
    font-weight: var(--fw-7);
    background-color: #1877f2;
    color: var(--white);
    border-radius: var(--radius-3);
    padding: 0 8px;
}
