.auth-title {
    background-color: var(--primary);
    display: flex;
    color: var(--white);
    font-weight: var(--fw-7);
    padding: var(--p-20) var(--p-20) var(--p-8) var(--p-20);
}

.auth-btn {
    width: 100%;
    background-color: var(--primary) !important;
    color: var(--white)!important;
    font-size: var(--fz-16)!important;
    font-weight: var(--fw-5)!important;
    height: auto !important;
    padding: calc(var(--p-12) - 2px)!important;
    border: 1px solid transparent;

    &:hover {
        border-color: var(--primary) !important;
        color: var(--white) !important;
    }

    &:focus-visible {
        box-shadow: 0 0 7px var(--primary)!important;
        outline: none!important;
    }
}