@import 'normalize.css';

:root {
    // Color
    --text-color: #222;
    --text-footer-color: #636363; 
    --black: #000;
    --white: #fff;
    --primary: #e71a0f;

    // Font size
    --fz-10: 10px;
    --fz-12: 12px;
    --fz-14: 14px;
    --fz-16: 16px;
    --fz-18: 18px;
    --fz-20: 20px;

    // Font weight
    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;
    --fw-9: 900;

    // Radius
    --radius-6: 6px;

    // Margin
    --m-2: 2px;
    --m-4: 4px;
    --m-8: 8px;
    --m-12: 12px;
    --m-16: 16px;
    --m-20: 20px;
    --m-24: 24px;
    --m-28: 28px;
    --m-32: 32px;
    --m-36: 36px;
    --m-40: 40px;

    // Padding
    --p-2: 2px;
    --p-4: 4px;
    --p-8: 8px;
    --p-12: 12px;
    --p-16: 16px;
    --p-20: 20px;
    --p-24: 24px;
    --p-28: 28px;
    --p-32: 32px;
    --p-36: 36px;
    --p-40: 40px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 18px;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}
