.home-sect-item {
    flex-grow: 1;

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
        border-left: 1px solid var(--black);
        border-right: 1px solid var(--black);
    }

    .home-sect-link {
        text-align: center;
        background-image: url('./public/images/home/bg-header-transparent-home.png');
        height: 90px;
        display: block;

        &.heater {
            background-position: 8px -4px;
        }

        &.now-sh {
            background-position: 830px -4px;
        }

        &.special {
            background-position: 686px -4px;
        }

        &.event {
            background-position: 540px -4px;
        }

        &.contact {
            background-position: 404px -4px;
        }

        &.discount {
            background-position: 264px -4px;
        }

        &.register {
            background-position: 132px -4px;
        }
    }
}

.carousel {
    background-image: url('./public/images/home/bg_c_bricks.png');
    margin-top: var(--m-16);
}

.carousel-arr {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 52px;

    &.pre {
        left: 20px;
        background-image: url('./public/images/home/sprite_btn.png');
        background-position: -1px 78%;

        &:hover {
            background-position: -1px 49%;
        }
    }

    &.next {
        right: 20px;
        background-image: url('./public/images/home/sprite_btn.png');
        background-position: -31px 78%;

        &:hover {
            background-position: -31px 49%;
        }
    }
}
