.form-control {
    display: block;
    width: 100%;
    margin: var(--m-4) 0;
    padding: var(--p-8);
    border: 1px solid var(--bd-input);
    height: 30px;

    &::placeholder {
        font-size: var(--fz-12);
    }

    &.error {
        border-color: var(--bd-input-error);
    }
}
