.footer-logo {
    width: 120px;
    height: 43px;
    background-image: url('./images/footer/common_sprite_area.png');
    background-position: -145px -319px;
}

.footer-end-bg {
    background-image: url('./images/footer/bg-bottom-footer.jpg');
    background-repeat: repeat-x;
    padding-bottom: 114px;
}
